body
{
    background-color:#56c7f7;
    text-align: center;
}

label
{
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
}

table
{
    font-weight: bold;
}

button
{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

input
{
    background-color: white;
}