button
{
    background-color: #56c7f7;
    font-family: Arial, Helvetica, sans-serif;
}

.keine_border
{
    border: 0;
}

/*Start*/
/*https://www.html-seminar.de/css-absolute-positionierung.htm*/
.table_icons
{
    position: absolute;
    width: auto;
    height: auto;
    top: 0%;
    right: 0%;
    background-color: #56c7f7;
}
/*Ende*/

.table_städte_anzeigen
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    border-spacing: 10px; /*ChatGPT*/
    width: 400px
}

.icons
{
    display: block; /*ChatGPT*/
    margin-left: auto; /*ChatGPT*/
    margin-right: auto; /*ChatGPT*/
    width: 100%; /*ChatGPT*/
}

body
{
    background-color:#56c7f7;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.neue_stadt
{
    font-size: medium;
}

.eingabefeld_neue_stadt
{
    background-color: white;
}

.neue_stadt_button
{
    background-color: white;
    font-weight: bold;
}

.admin
{
    visibility: visible;
}