button
{
    background-color: #56c7f7;
    font-family: Arial, Helvetica, sans-serif;
}

.einstellungen
{
    border: 0;
}

/*Start*/
/*https://www.html-seminar.de/css-absolute-positionierung.htm*/
.table_icons
{
    position: absolute; 
    width: auto; 
    height: auto; 
    top: 0%; 
    right: 0%; 
    background-color: #56c7f7;
}
/*Ende*/

.icons
{
    display: block; /*ChatGPT*/
    margin-left: auto; /*ChatGPT*/
    margin-right: auto; /*ChatGPT*/
    width: 100%; /*ChatGPT*/
}

body
{
    background-color:#56c7f7;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
}

.kurzbeschreibung
{
    height: 200px;
    vertical-align: top; /*ChatGPT*/
    text-align: right;
}

input
{
    width: 400px;
    background-color: white;
    border-spacing: 10px; /*ChatGPT*/
}

td
{
    font-weight: bold;
    vertical-align: top;
    text-align: right;
}

center 
{
    font-family: Arial, Helvetica, sans-serif;
}

.bestaetigenButton
{
    font-weight: bold;
    background-color: white;
    border-color: black;
    ;
}


